<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    {% block title %}
    <title>Homepage</title>
    {% endblock title %}
</head>

<body>
    <nav>
        {% if user.is_authenticated %}
        <a href='/admin'>Admin</a>
        <a href='models_temp.html'>Models (temp)</a>
        <a href='user_home.html'>List Pipelines</a>
        <a href='create_pipeline.html'>Create Pipeline</a>
        <a href='{% url "account_logout" %}'>Log out</a>
        {% else %}
        <a href='/admin'>Admin</a>
        <a href='models_temp.html'>Models (temp)</a>
        <a href='{% url "account_login" %}'>Log in</a>
        {% endif %}
    </nav>

    {% block content %}
    <h1>Homepage</h1>
    {% endblock content %}

    <script src="../static/script.js"></script>

</body>

</html>